header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:burlywood;
    height: 6em;
    margin: 1em;
}

div{
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    width: 25em;
    height: 3em;
    margin: 1em;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 175, 139);
    height: 25em;
    width: 75em;
    margin: 1em;
}

main{
    flex-direction: column;
    height: 25em;
    width: 55em;
}

main div{
    background-color:lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    width: 55em;
    margin: 1em;
}